body{
    font-family: cursive;
}
h1::first-letter{
    color: red

}
.kola{
    background-color: aqua;
    border: 4px;
    padding: 8px;
border-radius: 80%;

}



h1{ color: aliceblue;
    display: inline-block;
text-align: center;
margin:30px;
border: px dotted rgb(16, 233, 59);
border-radius: 5px;
display: block;
}
body{ color: aliceblue;
    background-image: url(https://img.search.brave.com/j7jBoo8Df7EAvM5t9ralKL4Ygvu_DmucxSSkzromJ_U/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5J/OExKTHdoRDBoQUdZ/RUdqUi1sLXpnSGFF/SyZwaWQ9QXBp);
background-repeat: no-repeat;
background-size:100%; 
background-attachment: fixed; 
}
.zam{
    color: yellow;
background-color: black;
border: 4px;
border-radius: 20px;
padding: 10px;
}
a{display: block;
    color: rgb(17, 214, 56);
    text-align: end;
    /* margin:1px;
    padding: 1px;
    border: 1px; */
}

div{text-align: left;
     background-color: black;
    background-size: 45rem;
    display:inline-block;
    width: 30%;
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 80px;
    height: 20%;
    
}
 .am {
      margin:5px;
    border: 3px solid whitesmoke
    border-radius: 5px;
    color: rgba(26, 7, 27, 0.986);
padding: 5px;
width: 100%;

}
.am:hover:focus {width: 200px;
    background-color: red;
    
}